<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Photos</title>
</head>
<body>
    <main>
        <h1 class="title">All Photos</h1>
        <div class="photo-index-all">
            <% photos.forEach(photo=>{ %>
                <div class="photo-index-single">
                    <a href="/user/<%= photo.user %>"><img class="user-photo-thumb" src="<%= photo.url %>" alt="<%= photo.about %>"></a>
                    <p><%= photo.about %></p>
                </div>
                <% })%>
        </div>
        <%- include('../partials/nav') %>
    </main>
</body>
</html>