<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Photos</title>
</head>
<body>
    <main>
        <h1 class="title">All Photos</h1>
        <% photos.forEach(photo=>{ %>
            <a href="/user/<%= photo.user %>"><img src="<%= photo.url %>" alt="<%= photo.about %>"></a>
            <p><%= photo.about %></p>
        <% })%>
        <%- include('../partials/nav') %>
    </main>
</body>
</html>