<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title><%= selected.user.username %>'s Photo</title>
</head>
<body>
    <main>
        <%- include('../partials/nav') %>
        <h1 class="title"><%= selected.user.username %>'s Photo</h1>
        <div class="featured-user-photo">
            <img src="<%= selected.url %>" alt="<%= selected.about %>">
            <p class="about-photo"><%= selected.about %></p>
            <div class="photo-actions">
                <a href="/photos/<%= selected._id %>/edit"><i class="fas fa-pencil-alt"></i></a>
                <form action="/photos/<%= selected._id %>?_method=DELETE" method="POST">
                    <button type="submit"><i class="fas fa-trash-alt"></i></button>
                </form>
            </div>
            <a href="/user/<%= selected.user._id %>">View <%= selected.user.username %>'s Profile</a>
        </div>
    </main>
</body>
</html>