<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Edit Your Profile</title>
</head>
<body>
    <main>
        <h1>Edit Your Profile</h1>
        <form action="/user/<%= selected._id %>?_method=PUT" method=POST>
            Name: <input type="text" name="username" value="<%= selected.username %>">
            Password: <input type="text" name="password" value="<%= selected.password %>">
            Current Photos: <% selected.photos.forEach((element,index)=> { %>
                <div class="user-photo-div">
                    <input type="text" name="photo<%= index %>" value="<%= element %>">
                    <img src="<%= element %>" alt="photo">
                </div>
            <% }) %>
            Add New Photos: <input type="text" name="newImages">
            <input type="submit" value="Submit Changes">
        </form>
    </main>
    <%- include('./partials/nav') %>
</body>
</html>