<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Edit Your Profile</title>
</head>
<body>
    <main>
        <h1 class="title">Edit Your Profile</h1>
        <form class="form" action="/user/<%= selected._id %>?_method=PUT" method=POST>
            Username: <input class="form-input" type="text" name="username" value="<%= selected.username %>">
            Password: <input class="form-input" type="text" name="password" value="<%= selected.password %>">
            Edit Current Photos:
            <div class="edit-photo-div">
                <% selected.photos.forEach((element,index)=> { %>
                    <div class="user-photo-edit">
                        <input type="text" name="photo<%= index %>" value="<%= element %>">
                        <img class="user-photo-thumb" src="<%= element %>" alt="photo">
                    </div>
                <% }) %>
            </div>
            Add New Photos from URL: <input class="form-input" type="text" name="newImages">
            <input class="submit-button" type="submit" value="Submit Changes">
        </form>
    </main>
    <%- include('../partials/nav') %>
</body>
</html>